{% extends 'wrapper.html' %}
{% load static %}

{% block content %}

<header class="header container">
        <div class="header-left">
            <div class="header-left__btn"><i class="fa-solid fa-bars"></i></div>
            <div class="header-left__brand"><a href="{% url 'mainapp:index' %}"><img src="{% static '/img/tagosaur.png' %}" alt="logo"></a></div>
        </div>
        <div class="header-right">
            <div class="header-right__bell">
                <i class="fa-solid fa-bell"></i><span>0</span>
            </div>
            <div class="header-right__user"><i class="fa-solid fa-user"></i></div>
        </div>
    </header>
    <!-- Header -->
    <!--Main-->
    <main class="main container">
        {% include 'left_side_menu.html' %}
        <div class="content">
            <!-- Orders-->
            <div class="packs">
                <h2 class="section-title">Добавить маркировку</h2>
                <div class="orders-search">
                    <form action="{% url 'mainapp:orders_save' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <select name="dropdown">
                            <option value="New">Новая маркировка</option>
                            {% for mark in marks %}
                            <option value="{{ mark.name }}">{{ mark.name }}</option>
                            {% endfor %}
                        </select>
                        <input type="text" name="name_marking" placeholder="Введите Наименование Маркировки">
                        <input type="text" name="gtin_code" placeholder="Введите GTIN">
                        <input type="text" name="articul" placeholder="Введите Артикул">
                        <input type="text" name="weight" placeholder="Введите массу ( 450 г/м )">
                        <input type="text" name="size" placeholder="Введите размер ( 70х130 см )">
                        <input type="text" name="color" placeholder="Введите цвет ( св.розовый )">
                        <input type="text" name="inn" placeholder="Введите ИНН ( ИНН ИМПОРТЁРА )">
                        <input type="text" name="Importer" placeholder="Введите инфо о ИМПОРТЕРЕ">
                        <input type="text" name="contract" placeholder="Введите Контракт">
                        <input type="text" name="comment" placeholder="Введите Комментарий">
                        <input type="number" name="number_packing_master" placeholder="Кол-во Мастер-Упковок">
                        <input type="number" name="number_packing" placeholder="Кол-во Упковок">
                        <input type="file" name="file_input" id="fileInput">
                        <button type="submit" id="submitButton">Отправить</button>
                    </form>
                </div>

            </div>
            <!-- /Orders-->
        </div>
    </main>


    <footer class="container footer">
        Build <span>6/28/2023</span> <span>3:52:30 PM</span>
    </footer>


    <script src="{% static 'js/script.js' %}"></script>
</body>
{% endblock %}