{% extends 'wrapper.html' %}
{% load static %}

{% block content %}

<header class="header container">
        <div class="header-left">
            <div class="header-left__btn"><i class="fa-solid fa-bars"></i></div>
            <div class="header-left__brand"><a href="{% url 'mainapp:index' %}"><img src="{% static '/img/tagosaur.png' %}" alt="logo"></a></div>
        </div>
        <div class="header-right">
            <div class="header-right__bell">
                <i class="fa-solid fa-bell"></i><span>0</span>
            </div>
            <div class="header-right__user"><i class="fa-solid fa-user"></i></div>
        </div>
    </header>
    <!-- Header -->
    <!--Main-->
    <main class="main container">
        {% include 'left_side_menu.html' %}
        <div class="content">

            <!-- code -->
            <div class="code">
                <h2 class="section-title">
                    Коды маркировки
                </h2>
                <div class="code-settings">
                    <button class="btn"><img src="{% static 'img/edit.svg' %}" alt="edit"></button>
                    <a href="{% url 'mainapp:marking_codes' %}">
                        <button class="btn">
                            <img src="{% static 'img/restart.svg' %}" alt="restart">
                        </button>
                    </a>
                </div>
                <table class="code-table">
                    <tr class="code-table__items">
                        <th class="width-10px">
                        </th>
                        <th class="width-10px">
                        </th>
                        <th>
                            <div class="grow-2">SGTIN</div>
                        </th>
                        <th>
                            <div class="grow-2">SSCC </div>
                        </th>
                        <th>
                            <div class="grow-4">GTIN </div>
                        </th>
                        <th>
                            <div class="grow-1">Товар </div>
                        </th>
                        <th>
                            <div class="grow-1">Нужно КМ в наборе </div>
                        </th>
                        <th>
                            <div class="grow-1">Собрано КМ в наборе </div>
                        </th>
                        <th>
                            <div class="grow-1">Статус набора </div>
                        </th>
                        <th>
                            <div class="grow-1">Тип КМ</div>
                        </th>
                    </tr>
                    <tr class="code-table__item">
                        <td class="width-20px"></td>
                        <td class="width-20px"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
                <div class="code-item__data">
                    Нет данных для отображения
                </div>
            </div>
            <!-- /Code-->

        </div>
    </main>


    <footer class="container footer">
        Build <span>6/28/2023</span> <span>3:52:30 PM</span>
    </footer>


    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/marking_codes.js' %}"></script>
</body>
{% endblock %}