{% extends 'wrapper.html' %}
{% load static %}

{% block content %}

<body>
<header class="header container">
        <div class="header-left">
            <div class="header-left__btn"><i class="fa-solid fa-bars"></i></div>
            <div class="header-left__brand"><a href="{% url 'mainapp:index' %}"><img src="{% static '/img/tagosaur.png' %}" alt="logo"></a></div>
        </div>
        <div class="header-right">
            <div class="header-right__bell">
                <i class="fa-solid fa-bell"></i><span>0</span>
            </div>
            <div class="header-right__user"><i class="fa-solid fa-user"></i></div>
        </div>
    </header>
    <!-- Header -->
    <!--Main-->
    <main class="main container">
        {% include 'left_side_menu.html' %}
        <div class="content">
            <!-- Orders-->
            <div class="packs">
                <h2 class="section-title">Заказы на маркировку</h2>
                <div class="packs-settings">
                    <select>
                        <option value="active">Активные заказы</option>
                        <option value="closed">Завершенные заказы</option>
                    </select>
                </div>
                <div class="orders-search">
                    <input type="text" placeholder="Введите текст для поиска">
                </div>
                <table class="orders-table">
                    <tr class="orders-table__items">
                        <th>
                            <div class="grow-2">№ </div>
                        </th>
                        <th>
                            <div class="grow-2">ДАТА </div>
                        </th>
                        <th>
                            <div class="grow-2">КОНТРАКТ </div>
                        </th>
                        <th>
                            <div class="grow-4">КОММЕНТАРИЙ </div>
                        </th>
                        <th>
                            <div class="grow-1">ВУ </div>
                        </th>
                        <th>
                            <div class="grow-1">ЗУ </div>
                        </th>
                        <th>
                            <div class="grow-1">ПУ </div>
                        </th>
                        <th>
                            <div class="grow-1">НУ </div>
                        </th>
                        <th>
                            <div class="grow-1">ВМУ </div>
                        </th>
                        <th>
                            <div class="grow-1">ЗМУ </div>
                        </th>
                        <th>
                            <div class="grow-1">ПМУ </div>
                        </th>
                        <th>
                            <div class="grow-1">НМУ </div>
                        </th>
                        <th>
                            <div class="grow-1">Статус </div>
                        </th>
                    </tr>
                    {% for marking in mark_Info %}
                    <tr class="orders-table__item">
                        <td><a href="{% url 'mainapp:operations_more' marking.id %}">{{ marking.id }}</a></td>
                        <td>{{ marking.date }}</td>
                        <td>TIR_SAM</td>
                        <td>{{ marking.comment }} </td>
                        {% for m_info in info %}
                        {% if m_info.markingId == marking.id %}
                        <td>{{ m_info.vu }}</td>
                        <td>{{ m_info.zu }}</td>
                        <td>{{ m_info.pu }}</td>
                        <td>{{ m_info.nu }}</td>
                        <td>{{ m_info.vmu }}</td>
                        <td>{{ m_info.zmu }}</td>
                        <td>{{ m_info.pmu }}</td>
                        <td>{{ m_info.nmu }}</td>
                        <td> Отправлено</td>
                        {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <!-- /Orders-->
        </div>
    </main>


    <footer class="container footer">
        Build <span>6/28/2023</span> <span>3:52:30 PM</span>
    </footer>


    <script src="{% static 'js/script.js' %}"></script>
</body>
{% endblock %}