{% extends 'wrapper.html' %}
{% load static %}

{% block content %}
<body>
  <header class="header container">
        <div class="header-left">
            <div class="header-left__btn"><i class="fa-solid fa-bars"></i></div>
            <div class="header-left__brand"><a href="./index.html"><img src="{% static './img/tagosaur.png' %}" alt="logo"></a></div>
        </div>
    </header>


    <main class="main container">
         {% include 'left_side_menu.html' %}
        <div class="operation">
            <div class="operation-title">
                <div class="operation-title__numbers">
                    <span>Упаковка: {{ marking.id }}</span>
                    <a href="{% url 'mainapp:orders_more' marking.id %}"><p>{{marking.name}}</p></a>
                </div>
                <div class="operation-title__btns">
                    <button class="btn"><img src="{% static './img/restart.svg' %}" alt="restart"></button>
                    <div class="operation-title__btns-rights">
                        <button class="btn"><i class="fa-solid fa-arrow-left"></i></button>
                        <button class="btn"><i class="fa-solid fa-arrow-right"></i></button>
                    </div>
                        <button class="btn operation-title__btns-submit">Отправить</button>
                </div>
            </div>
            <div class="operation-bar">
                <div class="operation-info">
                    <div class="operation-info__item">
                        <h4 class="operation-info__subtitle">Наименование</h4>
                        <p>{{ marking.name }}</p>
                        <h4 class="operation-info__subtitle">Дата</h4>
                        <p>{{ marking.date }}</p>
                        <h4 class="operation-info__subtitle">Контракт</h4>
                        <p>{{ marking.contract }}</p>
                    </div>
                    <div class="operation-info__item">
                        <h4 class="operation-info__subtitle ">Статус</h4>

                        {% if marking.status %}
                        <p class="txt-red"><span><b>Отправлен</b></span></p>
                        {% else %}
                        <p><span><b>Активный</b></span></p>
                        {% endif %}
                        <h4 class="operation-info__subtitle">Комментарий</h4>
                        <p>{{ marking.comment }}</p>
                    </div>
                </div>
            </div>
            <ul class="operation-btns">
                <li class="btn">KM</li>
                <li class="btn">Упаковка</li>
                <li class="btn">Товары</li>
            </ul>
            <div class="operation-tab__km operation-content">
                <!-- <div class="content-scroll"> -->
                    <table class="operation-tab__table">
                        <tr class="orders-table__items">
                            <th>
                                <div class="orders-table__item-head">
                                    <div class="grow-2">СПЕЦИФИКАЦИЯ</div>
                                </div>
                            </th>
                            <th>
                                <div class="orders-table__item-head">
                                    <div class="grow-2">GTIN</div>
                                </div>
                            </th>
                            <th>
                                <div class="orders-table__item-head">
                                    <div class="grow-2">Артикул</div>
                                </div>
                            </th>
                            <th>
                                <div class="orders-table__item-head">
                                    <div class="grow-2">Нужно по спецификации</div>
                                </div>
                            </th>
                            <th>
                                <div class="orders-table__item-head">
                                    <div class="grow-2">НЕ СКАНИРОВАНО</div>
                                </div>
                            </th>
                        </tr>
                        {% for codeM in codeM_Info %}
                        <tr class="orders-table__item">
                            {% if codeM.status_send %}
                            <td class="bg-green GTIN">{{ codeM.specif }}</td>
                            <td class="bg-green">{{ codeM.gtin }}</td>
                            <td class="bg-green">{{ codeM.artic }}</td>
                            <td class="bg-green">{{ codeM.count_specif }}</td>
                            {% else %}
                            <td class="GTIN">{{ codeM.specif }}</td>
                            <td>{{ codeM.gtin }}</td>
                            <td>{{ codeM.artic }}</td>
                            <td class="bg-green"><span>{{ codeM.count_specif }}</span></td>
                            {% endif %}
                            {% if codeM.not_scan_count_specif == 0 %}
                            <td class="bg-green"><span>{{ codeM.not_scan_count_specif }}</span></td>
                            {% else %}
                            <td class="bg-red"><span>{{ codeM.not_scan_count_specif }}</span></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </table>
                <!-- </div> -->

                <div class="operation-tab__data text-center"></div>
                <div class="operation-tab__tableinfo">
                    Кол-во: <span>{{ codeM_Info|length }}</span>
                </div>
            </div>
            <div class="upakovka-tab__km operation-content">
                <div class="content-scroll">
                    <table class="pack-tab__table">
                        <tr class="orders-table__items">
                            <th>
                                <div class="orders-table__item-head">
                                    <div class="grow-2">СПЕЦИФИКАЦИЯ</div>
                                </div>
                            </th>
                            <th>
                                <div class="orders-table__item-head">
                                    <div class="grow-2">SSCC</div>
                                </div>

                            </th>
                            <th>
                                <div class="orders-table__item-head">
                                    <div class="grow-2">Артикул</div>
                                </div>
                            </th>
                            <th>
                                <div class="orders-table__item-head">
                                    <div class="grow-2">НУЖНО ПО СПЕЦИФИКАЦИИ</div>
                                </div>
                            </th>
                            <th>
                                <div class="orders-table__item-head">
                                    <div class="grow-2">НЕ СКАНИРОВАНО</div>
                                </div>
                            </th>
                        </tr>
                        {% for pack in pack_Info %}
                        <tr class="orders-table__item">
                            <td>{{ pack.specif }}</td>
                            <td>{{ pack.sscc }}</td>
                            <td>{{ pack.artic }}</td>
                            {% if pack.not_scan_count_specif == 0 %}
                                <td class="bg-green"><span>{{ pack.count_specif }}</span></td>
                                <td class="bg-green"><span>{{ pack.not_scan_count_specif }}</span></td>
                            {% else %}
                                <td class="bg-red"><span>{{ pack.count_specif }}</span></td>
                                <td class="bg-red"><span>{{ pack.not_scan_count_specif }}</span></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </table>
                </div>

                <div class="upakovka-tab__data text-center"></div>
                <div class="upakovka-tab__tableinfo">
                    Кол-во: <span>{{ pack_Info|length }}</span>
                </div>
            </div>
            <div class="merchandise-tab__km operation-content">
                <!-- <div class="content-scroll"> -->
                    <table class="merchandise-tab__table">
                        <tr class="orders-table__items">
                            <th>
                                <div class="orders-table__item-head">
                                    <div class="grow-2">СПЕЦИФИКАЦИЯ</div>
                                </div>
                            </th>
                            <th>
                                <div class="orders-table__item-head">
                                    <div class="grow-2">SSCC</div>
                                </div>
                            </th>
                            <th>
                                <div class="orders-table__item-head">
                                    <div class="grow-2">Артикул</div>
                                </div>
                            </th>
                            <th>
                                <div class="orders-table__item-head">
                                    <div class="grow-2">SGTIN</div>
                                </div>
                            </th>
                        </tr>
                        {% for product in product_Info %}
                        <tr class="orders-table__item">
                            {% if product.status %}
                                <td>{{ product.specif }}</td>
                                <td>{{ product.sscc }}</td>
                                <td>{{ product.artic }}</td>
                                <td class="bg-green"><span>{{ product.sgtin }}</span></td>
                            {% else %}
                                <td>{{ product.specif }}</td>
                                <td>{{ product.sscc }}</td>
                                <td>{{ product.artic }}</td>
                                <td class="bg-red"><span>{{ product.sgtin }}</span></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </table>
                <!-- </div> -->

                <div class="merchandise-tab__data text-center"></div>
                <div class="merchandise-tab__tableinfo">
                    Кол-во: <span>{{ product_Info|length }}</span>
                </div>
            </div>
        </div>
    </main>


    <footer class="container footer">
        Build <span>6/28/2023</span> <span>3:52:30 PM</span>
    </footer>

    <script src="{% static '/js/operation.js' %}"></script>


</body>
{% endblock %}