{% extends 'wrapper.html' %}
{% load static %}

{% block content %}

<body>
<header class="header container">
        <div class="header-left">
            <div class="header-left__btn"><i class="fa-solid fa-bars"></i></div>
            <div class="header-left__brand"><a href="{% url 'mainapp:index' %}"><img src="{% static '/img/tagosaur.png' %}" alt="logo"></a></div>
        </div>
    </header>
    <!-- Header -->
    <!--Main-->
    <main class="main container">
        {% include 'left_side_menu.html' %}
        <div class="content">
            <!-- Orders-->
            <div class="packs">
                <h2 class="section-title">Заказы на маркировку</h2>
                <div class="packs-settings">
                    <form action="{% url 'mainapp:operations' %}" method="post">
                        {% csrf_token %}
                        <select name="order_status">
                            <option value="all">Все</option>
                            <option value="active">Активные заказы</option>
                            <option value="closed">Завершенные заказы</option>
                        </select>
                        <button class="btn" type="submit">Отправить</button>
                    </form>
                </div>
                <div class="orders-search">
                    <input type="text" placeholder="Введите текст для поиска">
                    <button class="btn">Поиск</button>
                </div>
                <table class="orders-table">
                    <tr class="orders-table__items">
                        <th>
                            <div class="grow-2">№ </div>
                        </th>
                        <th>
                            <div class="grow-2">ДАТА </div>
                        </th>
                        <th>
                            <div class="grow-2">КОНТРАКТ </div>
                        </th>
                        <th>
                            <div class="grow-4">КОММЕНТАРИЙ </div>
                        </th>
                        <th>
                            <div class="grow-1">ВУ </div>
                        </th>
                        <th>
                            <div class="grow-1">ЗУ </div>
                        </th>
                        <th>
                            <div class="grow-1">ПУ </div>
                        </th>
                        <th>
                            <div class="grow-1">НУ </div>
                        </th>
                        <th>
                            <div class="grow-1">ВМУ </div>
                        </th>
                        <th>
                            <div class="grow-1">ЗМУ </div>
                        </th>
                        <th>
                            <div class="grow-1">ПМУ </div>
                        </th>
                        <th>
                            <div class="grow-1">НМУ </div>
                        </th>
                        <th>
                            <div class="grow-1">Статус </div>
                        </th>
                    </tr>
                    {% for marking in mark_Info %}
                    <tr class="orders-table__item">
                        <td><a href="{% url 'mainapp:operations_more' marking.id %}">{{ marking.id }}</a></td>
                        <td><span>{{ marking.date }}</span></td>
                        <td><span>TIR_SAM</span></td>
                        <td><span>{{ marking.comment }} </span></td>
                        {% for m_info in info %}
                        {% if m_info.markingId == marking.id %}
                        <td class="bg-green"><span>{{ m_info.vu }}</span></td>
                        {% if m_info.vu == m_info.zu %}
                        <td class="bg-green"><span>{{ m_info.zu }}</span></td>
                        {% else %}
                        <td class="bg-red"><span>{{ m_info.zu }}</span></td>
                        {% endif %}
                        {% if m_info.pu == 0 %}
                        <td class="bg-green"><span>{{ m_info.pu }}</span></td>
                        {% else %}
                        <td class="bg-red"><span>{{ m_info.pu }}</span></td>
                        {% endif %}
                        {% if m_info.nu == 0 %}
                        <td class="bg-green"><span>{{ m_info.nu }}</span></td>
                        {% else %}
                        <td class="bg-red"><span>{{ m_info.nu }}</span></td>
                        {% endif %}
                        <td class="bg-green"><span>{{ m_info.vmu }}</span></td>
                        {% if m_info.vmu == m_info.zmu %}
                        <td class="bg-green"><span>{{ m_info.zmu }}</span></td>
                        {% else %}
                        <td class="bg-red"><span>{{ m_info.zmu }}</span></td>
                        {% endif %}
                        {% if m_info.pmu == 0 %}
                        <td class="bg-green"><span>{{ m_info.pmu }}</span></td>
                        {% else %}
                        <td class="bg-red"><span>{{ m_info.pmu }}</span></td>
                        {% endif %}
                        {% if m_info.nmu == 0 %}
                        <td class="bg-green"><span>{{ m_info.nmu }}</span></td>
                        {% else %}
                        <td class="bg-red"><span>{{ m_info.nmu }}</span></td>
                        {% endif %}

                        {% if m_info.status %}
                        <td class="bg-red"><span>Отправлено</span> </td>
                        {% else %}
                        <td class="bg-green"><span>Активный</span> </td>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <!-- /Orders-->
        </div>
    </main>


    <footer class="container footer">
        Build <span>6/28/2023</span> <span>3:52:30 PM</span>
    </footer>


    <script src="{% static 'js/script.js' %}"></script>
</body>
{% endblock %}