{% extends 'wrapper.html' %}
{% load static %}

{% block content %}
<body>
    <header class="header container">
        <div class="header-left">
            <div class="header-left__btn"><i class="fa-solid fa-bars"></i></div>
            <div class="header-left__brand"><a href="{% url 'mainapp:index' %}"><img src="{% static 'img/tagosaur.png' %}" alt="logo"></a></div>
        </div>
        <div class="header-right">
            <div class="header-right__bell">
                <i class="fa-solid fa-bell"></i><span>0</span>
            </div>
            <div class="header-right__user"><i class="fa-solid fa-user"></i></div>
        </div>
    </header>
    <!-- Header -->
    <!--Main-->
    <main class="main container">
         {% include 'left_side_menu.html' %}
        <div class="pack">
            <div class="pack-bar">
                <div class="pack-bar__code">
                    <div class="pack-bar__code-numbers">
                        <span>Упаковка</span>
                        <p id="packInfo">{{ pack_Info.gtin }}</p>
                    </div>
                    <div class="pack-bar__code-btns">
                        <button class="btn"><img src="{% static 'img/edit.svg' %}" alt="edit"></button>
                        <button class="btn"><img src="{% static 'img/restart.svg' %}" alt="restart"></button>
                    </div>
                </div>
                <div class="pack-bar__info">
                    <h4 class="section-subtitle">Нужно</h4>
                    <p class="section-number">{{ count }}</p>
                    <h4 class="section-subtitle">Собрано</h4>
                    <p class="section-number bg-orange" data-scan-count="{{ Scan_count }}">{{ Scan_count }}</p>
                    <p class="section-text">Родительская мастер-упаковка <br> <a href="{% url 'mainapp:orders_more' parents.id %}">id: {{ parents.id }} {{ parents.name }} </a></p>
                    <div class="pack-tab">
                        <ul class="pack-tab__btns">
                            <li class="btn">KM</li>
                            <li class="btn">Упаковка</li>
                        </ul>
                    </div>
                    <div class="pack-tab__km pack-content">
                        <div class="pack-tab__km-settings">
                            <button type="submit">Распечатать </button>
                        </div>
                        <div class="content-scroll">
                            <table class="pack-tab__table">
                                <tr class="orders-table__items">
                                    <th class="width-10px">
                                        <div class="grow-02"></div>
                                    </th>
                                    <th>
                                        <div class="orders-table__item-head">
                                            <div class="grow-2">sgtin</div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="orders-table__item-head">
                                            <div class="grow-2">товар</div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="orders-table__item-head">
                                            <div class="grow-2">статус</div>
                                        </div>
                                    </th>
                                </tr>
                                {% for package in codeMark %}
                                <tr class="orders-table__item">
                                    <td class="width-10px">
                                        <div class="grow-02">{{ forloop.counter }}</div>
                                    </td>
                                    {% if package.status %}
                                    <td class="bg-green SGTIN">{{package.SGTIN}}</td>
                                    <td class="bg-green">{{package.name}}</td>
                                    <td class="bg-green">Отсканировано</td>
                                    {% else %}
                                    <td class="SGTIN">{{package.SGTIN}}</td>
                                    <td>{{package.name}}</td>
                                    <td class="status">Несканировано</td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </table>
                        </div>

                        <div class="pack-tab__data text-center"></div>
                        <div class="pack-tab__tableinfo">
                            Count: <span>0</span>
                        </div>
                    </div>
                    <div class="pack-tab__packing pack-content">
                        <div class="pack-tab__packing-settings">
                            <button type="submit">Распечатать </button>
                        </div>
                        <div class="content-scroll">
                            <table class="pack-tab__table">
                                <tr class="orders-table__items">
                                    <th class="width-10px"></th>
                                    <th>
                                        <div class="orders-table__item-head">
                                            <div class="grow-2">sscc</div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="orders-table__item-head">
                                            <div class="grow-2">по спецификации</div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="orders-table__item-head">
                                            <div class="grow-2">несканировано</div>
                                        </div>
                                    </th>

                                </tr>
                                {% for package in Package %}
                                <tr class="orders-table__item">
                                    <td class="width-10px">
                                        <div class="grow-02"><input type="checkbox"></div>
                                    </td>
                                    {% if package.difference == 0 %}
                                    <td class="bg-green sscc"><a href="{% url 'mainapp:pack_more' package.id %}">{{ package.SSCC }}</a></td>
                                    <td class="bg-green">{{package.count}}</td>
                                    <td class="bg-green difference"><span>{{package.difference}}</span></td>
                                    {% else %}
                                    <td class="sscc"><a href="{% url 'mainapp:pack_more' package.id %}">{{ package.SSCC }}</a></td>
                                    <td>{{package.count}}</td>
                                    <td class="difference"><span>{{package.difference}}</span></td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <div class="pack-tab__data text-center"></div>
                        <div class="pack-tab__tableinfo">
                            Count: <span>0</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>


    <footer class="container footer">
        Build <span>6/28/2023</span> <span>3:52:30 PM</span>
    </footer>


    <script src="{% static 'js/pack.js' %}"></script>
</body>
{% endblock %}