{% extends 'wrapper.html' %}
{% load static %}

{% block content %}

<header class="header container">
        <div class="header-left">
            <div class="header-left__btn"><i class="fa-solid fa-bars"></i></div>
            <div class="header-left__brand"><a href="{% url 'mainapp:index' %}"><img src="{% static '/img/tagosaur.png' %}" alt="logo"></a></div>
        </div>
        <div class="header-right">
            <div class="header-right__bell">
                <i class="fa-solid fa-bell"></i><span>0</span>
            </div>
            <div class="header-right__user"><i class="fa-solid fa-user"></i></div>
        </div>
    </header>
    <!-- Header -->
    <!--Main-->
    <main class="main container">
        {% include 'left_side_menu.html' %}
        <div class="content">

            <!--Packs-->
            <div class="packs">
                <h2 class="section-title">
                    Упаковки (отсканируйте SSCC)
                </h2>
                <div class="packs-settings">
                    <button class="btn"><img src="{% static 'img/edit.svg' %}" alt="edit"></button>
                    <button class="btn"><img src="{% static 'img/reset.svg' %}" alt="reset"></button>
                    <button class="btn"><img src="{% static 'img/refresh.svg' %}" alt="refresh"></button>
                    <select>
                        <option value="active">Показать список</option>
                        <option value="closed">Скрыть список</option>
                    </select>
                    <select value="Mode" placeholder="Mode">
                        <option value="active">Неполные упаковки (созданные)</option>
                        <option value="closed">Без фильтра</option>
                    </select>
                </div>
                <table class="packs-table">
                    <tr class="packs-table__items">
                        <th class="width-10px">
                        </th>
                        <th class="width-10px">
                        </th>
                        <th>
                            <div class="grow-2">SSCC<i class="fa-solid fa-filter"></i></div>
                        </th>
                        <th>
                            <div class="grow-2">№ заказа<i class="fa-solid fa-filter"></i></div>
                        </th>
                        <th>
                            <div class="grow-4">Комментарий на заказ<i class="fa-solid fa-filter"></i></div>
                        </th>
                        <th>
                            <div class="grow-1">Вложения<i class="fa-solid fa-filter"></i></div>
                        </th>
                        <th>
                            <div class="grow-1">По спецификации<i class="fa-solid fa-filter"></i></div>
                        </th>
                        <th class="width-10px">
                            <div class="grow-1">Уровень</div>
                        </th>
                        <th>
                            <div class="grow-1">Контакт<i class="fa-solid fa-filter"></i></div>
                        </th>
                    </tr>
                    <tr class="packs-table__item">
                        <td class="width-20px">
                        </td>
                        <td class="width-20px">
                        </td>
                        <td></td>
                        <td><input type="number"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
                <div class="packs-item__data">
                    Нет данных для отображения
                </div>
            </div>
            <!-- /Packs-->

        </div>
    </main>


    <footer class="container footer">
        Build <span>6/28/2023</span> <span>3:52:30 PM</span>
    </footer>


    <script src="{% static 'js/script.js' %}"></script>
</body>
{% endblock %}