{% extends 'wrapper.html' %}
{% load static %}

{% block content %}

<header class="header container">
        <div class="header-left">
            <div class="header-left__btn"><i class="fa-solid fa-bars"></i></div>
            <div class="header-left__brand"><a href="{% url 'mainapp:index' %}"><img src="{% static '/img/tagosaur.png' %}" alt="logo"></a></div>
        </div>
    </header>
    <!-- Header -->
    <!--Main-->
    <main class="main container">
        {% include 'left_side_menu.html' %}
        <div class="content">

            <!--Packs-->
            <div class="packs">
                <h2 class="section-title">Упаковки (отсканируйте SSCC)</h2>
                <div class="packs-settings">
                    <form action="{% url 'mainapp:packaging' %}" method="post">
                        {% csrf_token %}
                        <select name="order_status">
                            <option value="all">Без фильтра</option>
                            <option value="incomplete_created">Актуально</option>
                        </select>
                        <button class="btn" type="submit">Отправить</button>
                    </form>
                </div>
                <table class="packs-table">
                    <tr class="packs-table__items">
                        <th class="width-10px">
                        </th>
                        <th>
                            <div class="grow-2">Наименование</div>
                        </th>
                        <th>
                            <div class="grow-2">ID заказа</div>
                        </th>
                        <th>
                            <div class="grow-4">Комментарий на заказ</i></div>
                        </th>
                        <th>
                            <div class="grow-1">Мешков</div>
                        </th>
                        <th>
                            <div class="grow-1">Мастер-Упаковок</div>
                        </th>
                        <th>
                            <div class="grow-1">Упаковок</div>
                        </th>
                    </tr>
                    {% for package in info %}
                    <tr class="packs-table__item">
                            <td class="width-20px">{{ forloop.counter }}</td>
                            <td><a href="{% url 'mainapp:stock_more' package.id %}">{{ package.name }}</a></td>
                            <td>{{ package.id }}</td>
                            <td><span>{{ package.comment }}</span></td>
                            {% if package.bag_log %}
                                <td class="bg-green"><span>{{ package.bag_len }}</span></td>
                            {% else %}
                                <td class="bg-red"><span>{{ package.bag_len }}</span></td>
                            {% endif %}
                            {% if package.mp_log %}
                                <td class="bg-green"><span>{{ package.mp_len }}</span></td>
                            {% else %}
                                <td class="bg-red"><span>{{ package.mp_len }}</span></td>
                            {% endif %}
                            {% if package.pack_log %}
                                <td class="bg-green"><span>{{ package.pack_len }}</span></td>
                            {% else %}
                                <td class="bg-red"><span>{{ package.pack_len }}</span></td>
                            {% endif %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <!-- /Packs-->

        </div>
    </main>


    <footer class="container footer">
        Build <span>6/28/2023</span> <span>3:52:30 PM</span>
    </footer>
    <script>
        window.scanPackUrl = "{% url 'mainapp:scan_pack' %}";
    </script>
    <script src="{% static 'js/pack_script.js' %}"></script>
</body>
{% endblock %}