{% load static %}
<div class="sidebar">
    <div>
        <h2 class="sidebar-title">Фабрика и склад</h2>
        <a href="{% url 'mainapp:orders' %}" class="sidebar-item">Заказы на маркировку</a>
        <a href="{% url 'mainapp:packaging' %}" class="sidebar-item">Упаковки</a>
        <a href="{% url 'mainapp:stock' %}" class="sidebar-item">Склад</a>
        <a href="{% url 'mainapp:operations' %}" class="sidebar-item">Операции</a>
        <a href="{% url 'mainapp:marking_codes' %}" class="sidebar-item">Коды маркировки</a>
    </div>
</div>